*{
    padding: 0px;
    margin: 0px

}
body{
  font-family: "Young Serif", serif;
}
.container{
    padding: 50px;
}
.section-one{
    background-color: black;
    color: white;
    padding: 20px;
}
.section-one__contact{
    background-color: orangered;
    color:white;
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 10px;
}
.section-one__name{
    font-size: 60px;
}
.section-one__role{
    font-size: 30px;
    margin-top: 10px;
}
.section-two,.section-three,.section-four,.section-five{
    margin-top: 20px;
}
.section-two__desc,.section-three__desc,.section-four__desc,.section-five__desc{
    margin-top: 10px;
}
.section-five{
    background-color: black;
    color: white;
    padding: 10px;
}
.section-three{
    height: 200px;
    background-color: rgb(125, 125, 245);
    display:inline-block;
    padding: 20px;
    vertical-align: top;
    border-radius: 20px;
}
.section-four{
    height: 200px;
    background-color: rgb(236, 159, 17);
    display: inline-block;
    padding: 20px;
    vertical-align: top;
    border-radius: 20px;

}
.section-five__desc a{
    color: skyblue;
}
.section-three li,.section-four li{
    list-style: none;
}
#section-one{
    background-color: black;
    color: white;
    padding: 20px;
}
#section-one__contact{
    background-color: orangered;
    color:white;
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 10px;
}
#container{
    padding: 50px;
}
#section-one__name{
    font-size: 60px;
}
#section-one__role{
    font-size: 30px;
    margin-top: 10px;
}
#section-two{
    margin-top: 20px;

}
#section-two__input,#section-two__textarea,#section-two__submit{
    margin-top: 10px;
}
#section-two__input{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}
#section-two__textarea{
    padding: 10px;
    border: none;
    border: solid black 1px;
}
#section-two__submit{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: none;
    background-color: orangered;
    color: black;
    
}